.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    background-color: white;
    mix-blend-mode: difference;
    z-index: 9999;
}

@media screen and (max-width: 768px) {
    .custom-cursor {
        display: none;
    }
}