.footer {
  background-color: #111;
  margin-top: auto;
  color: #fff;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: 'Poppins', sans-serif;
}

.footer-top {
  text-align: center;
}

.footer-top h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.footer-top p {
  font-size: 0.9rem;
  color: #aaa;
  max-width: 400px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: left;
}

.footer-column {
  min-width: 150px;
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column a {
  line-height: 2;
  text-decoration: none;
  font-size: 0.9rem;
  color: #ccc;
  display: flex;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  font-size: 0.75rem;
  color: #777;
  padding-top: 1rem;
  border-top: 1px solid #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    padding: 3rem 1rem;
    margin-top: auto;
  }
  
  .footer-links {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }

  .footer-column a{
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }
  
  .footer-top h2 {
    font-size: 1.8rem;
  }
}
